<!DOCTYPE html>
<html>
    <head>
        <title>NODEJS+SOCKETIO</title>
        <script src="jquery.js">
        </script>

        <script src="socket.io/socket.io.js">
        </script>
        <script>

            //connect server
            const socket = io("http://localhost:3000");
            socket.on("server-send-data",function(data){
                $("#noidung").append(data+",");
            })
         $(document).ready(function(){
              $("#mrA").click(function(){
                  socket.emit("client-send-data","hello")
              })

            $("#do").click(function(){
                socket.emit("send-color","red");
            })
            $("#xanh").click(function(){
                socket.emit("send-color","blue");
            })
            $("#vang").click(function(){
                socket.emit("send-color","yellow");
            })
         })
        </script>
       <style>
         #do,#xanh,#vang {
              width: 300px; height: 70px;
         };
         #do{
            background-color:red ;
         };
         #xanh{
             background-color: blue;
         };
         #vang{
             background-color: yellow;
         }
        </style>
    </head>
    <body bgcolor="pink">
         <div id="mrA">
         click server
         </div>
         <h1 id="noidung"></h1> 

         <!-- <div id="do">ffff</div>
         <div id="xanh"></div>
         <div id="vang"></div> -->

    </body>
</html>